<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Parkrun Plus</title>
    <link rel="stylesheet" href="../libs/vue-material/vue-material.css">
    <style>
      .card-column {
        margin: 20px;
        max-width: 900px;
      }
      #loading-spinner {
        margin-top: 50px;
      }
    </style>
</head>

<body>
    <div id="app">
        <md-toolbar>
            <h1 class="md-title">Parkrun Plus</h1>
        </md-toolbar>

        <md-layout md-align="center" v-if="!doneLoading">
            <md-spinner id="loading-spinner" v-bind:md-indeterminate="loadProgress == 0" :md-progress="loadProgress" :md-size="150"></md-spinner>
        </md-layout>

        <div class="main-content">
            <!-- Display a card for each day -->
            <results-card v-for="day in days" :day="day" :key="day.date"></results-card>
        </div>
    </div>

    <script src="../libs/jquery-3.2.1.min.js"></script>
    <script src="../libs/moment.js"></script>
    <script src="../libs/vue.js"></script>
    <script src="../libs/vue-material/vue-material.js"></script>
    <script src="api.js"></script>
    <script src="components.js"></script>
    <script src="app.js"></script>
    <!--<script src="api.js"></script>-->
</body>

</html>